objectives: []

encoder:
  name: TransformerEncoder
  args:
    enc_layers: 12
    dec_layers: [12, 8, 4]
    dim: 512
    ff_ratio: 4.0
    heads: 8
    dropout: 0.1
    activation: GELU
    patch: [16, 16]

decoders: []

optimizer:
  name: AdamW
  default_lr: 0.0001
  warmup: 100
  subsets: {}

dataset:

  <<: !include ../_traces.yaml
  batch_size: 32

  channels:
    radar:
      name: RawChannel
      indices: radar
      args:
        sensor: radar
        channel: iq
        transform:
        - name: AssertTx2
          args: {}
        - name: IIQQtoIQ
          args: {}
        - name: FFTArray
          args:
            pad: 0
            axes: [0, 1, 2, 3]
        - name: ComplexPhase
          args: {}
