objectives: []

encoder:
  name: TransformerEncoder
  args:
    ff_ratio: 4.0
    dropout: 0.1
    activation: GELU
    patch: [16, 32]

decoders: []

optimizer:
  name: AdamW
  default_lr: 0.0001
  warmup: 100
  subsets: {}

dataset:
  batch_size: 32
  channels:
    radar:
      name: RawChannel
      indices: radar
      args:
        sensor: radar
        channel: iq
        transform:
        - name: AssertTx2
          args: {}
        - name: IIQQtoIQ
          args: {}
        - name: FFTArray
          args:
            pad: 0
            axes: [0, 1, 2, 3]
        - name: ComplexPhase
          args: {}
