# @package _global_
model:
  decoders:
    occ2d:
      _target_: grt.models.TransformerDecoder
      decoder_layer:
        _target_: torch.nn.TransformerDecoderLayer
        d_model: ${globals.d_model}
        nhead: ${globals.nhead}
        dim_feedforward: ${globals.d_feedforward}
        dropout: 0.1
        activation: gelu
        layer_norm_eps: 1e-5
        batch_first: true
        norm_first: true
        bias: true
      d_model: ${globals.d_model}
      num_layers: ${globals.dec_layers}
      shape: [1, 1, 1024, 256]
      pos_scale: [1.0, 1.0, 1.0, 1.0]
      global_scale: 16.0
      patch: [1, 1, 16, 16]
      out_dim: 0
