_target_: torch.nn.TransformerEncoder
encoder_layer:
  _target_: torch.nn.TransformerEncoderLayer
  d_model: ${globals.d_model}
  nhead: ${globals.nhead}
  dim_feedforward: ${globals.d_feedforward}
  dropout: 0.1
  activation: gelu
  layer_norm_eps: 1e-5
  batch_first: true
  norm_first: true
  bias: true
num_layers: ${globals.enc_layers}
enable_nested_tensor: false
