defaults:
  - aug: none
  - sensors: radar
  - traces: ["bike", "indoor", "outdoor"]
  - training: default
  - _self_

meta:
  dataset: data/
  results: results/
  name: test_model
  version: test_version

globals:
  d_model: 512
  d_feedforward: 2048
  nhead: 8
  enc_layers: 4
  dec_layers: 4

hydra:
  run:
    dir: ${meta.results}/${meta.name}/${meta.version}

datamodule:
  _target_: nrdk.roverd.datamodule
  dataset:
    _target_: roverd.Dataset.from_config
    _partial_: true
    sync:
      _target_: abstract_dataloader.generic.Next
      margin: [1.0, 1.0]
      reference: "radar"
    sensors: {}  # sensors/*.yaml
  traces:
    train:
      _target_: nrdk.config.expand
      path: ${meta.dataset}
  datamodule:
    _target_: abstract_dataloader.ext.lightning.ADLDataModule
    _partial_: true
    batch_size: 32
    samples: 8
    num_workers: 12
    prefetch_factor: 2
    subsample:
      val: 16384
  ptrain: 0.8
  pval: 0.2

transforms:
  _target_: abstract_dataloader.abstract.Pipeline
  sample:
    _target_: abstract_dataloader.ext.graph.Transform
    keep_all: false
    outputs: {}  # sensors/*.yaml
  collate:
    _target_: abstract_dataloader.torch.Collate
    mode: "concat"

objectives:
  _target_: abstract_dataloader.ext.objective.MultiObjective
  # objectives/*.yaml

model:
  _target_: nrdk.framework.TokenizerEncoderDecoder
  tokenizer:
    _target_: grt.models.SpectrumTokenizer
    d_model: ${globals.d_model}
    patch: [1, 2, 2, 8, 4]  # (time, doppler, elevation, azimuth, range)
    squeeze: [2, 3]  # elevation + azimuth
    n_channels: 3 
    pos_scale: [1.0, 1.0, 1.0, 1.0, 1.0]
    global_scale: 16.0
    positions: nd
  encoder:
    _target_: torch.nn.TransformerEncoder
    encoder_layer:
      _target_: torch.nn.TransformerEncoderLayer
      d_model: ${globals.d_model}
      nhead: ${globals.nhead}
      dim_feedforward: ${globals.d_feedforward}
      dropout: 0.1
      activation: gelu
      layer_norm_eps: 1e-5
      batch_first: true
      norm_first: true
      bias: true
    num_layers: ${globals.enc_layers}
    enable_nested_tensor: false
  # decoders from decoders/*.yaml
