defaults:
  - _self_
  - size: small
  - aug@transforms.sample.augmentations: full
  - sensors: ["radar", "lidar"]
  - transforms@transforms.sample: ["radar", "lidar3d"]
  - traces@datamodule.traces: ["bike", "indoor", "outdoor"]
  - model: default
  - trainer: default
  - objective: lidar3d
  - optimizer: default

hydra:
  run:
    dir: ${meta.results}/${meta.name}/${meta.version}

meta:
  dataset: data/
  results: results/
  name: null
  version: null
  resume: null

size: {}

model: {}
objective: {}
aug: {}
optimizer: {}
sensors: {}

datamodule:
  _target_: nrdk.roverd.datamodule
  dataset:
    _target_: roverd.Dataset.from_config
    _partial_: true
    sync:
      _target_: abstract_dataloader.generic.Next
      margin: [1.0, 1.0]
      reference: "radar"
    sensors: ${sensors}
  traces:
    train:
      _target_: nrdk.config.expand
      path: ${meta.dataset}
    test:
      _target_: nrdk.config.expand
      path: ${meta.dataset}
  batch_size: 64
  samples: 8
  num_workers: 16
  prefetch_factor: 1
  subsample:
    val: 16384
  ptrain: 0.8
  pval: 0.2

lightningmodule:
  _target_: nrdk.framework.NRDKLightningModule
  compile: false
  vis_interval: 1000
  vis_samples: 16
  objective: ${objective}
  model: ${model}
  optimizer: ${optimizer}

transforms:
  _target_: abstract_dataloader.abstract.Pipeline
  sample:
    _target_: abstract_dataloader.ext.graph.Transform
    keep_all: false
    outputs: {}  # sensors/*.yaml
    augmentations: ${aug}
  collate:
    _target_: abstract_dataloader.ext.torch.Collate
    mode: "concat"
