defaults:
  - aug@transforms.sample.augmentations: none
  - sensors@datamodule.dataset.sensors: ["radar", "lidar"]
  - transforms@transforms.sample: ["radar", "lidar3d"]
  - traces@datamodule.traces: ["bike", "indoor", "outdoor"]
  - model: default
  - trainer: default
  - objective: lidar3d
  - _self_

meta:
  dataset: data/
  results: results/
  name: test_model
  version: test_version

globals:
  d_model: 512
  d_feedforward: 2048
  nhead: 8
  enc_layers: 4
  dec_layers: 4

hydra:
  run:
    dir: ${meta.results}/${meta.name}/${meta.version}

datamodule:
  _target_: nrdk.roverd.datamodule
  dataset:
    _target_: roverd.Dataset.from_config
    _partial_: true
    sync:
      _target_: abstract_dataloader.generic.Next
      margin: [1.0, 1.0]
      reference: "radar"
    sensors: {}  # sensors/*.yaml
  traces:
    train:
      _target_: nrdk.config.expand
      path: ${meta.dataset}
  datamodule:
    _target_: abstract_dataloader.ext.lightning.ADLDataModule
    _partial_: true
    batch_size: 32
    samples: 8
    num_workers: 12
    prefetch_factor: 2
    subsample:
      val: 16384
  ptrain: 0.8
  pval: 0.2

lightningmodule:
  _target_: nrdk.framework.NRDKLightningModule
  vis_interval: 10
  vis_samples: 16
  optimizer:
    _target_: torch.optim.AdamW
    _partial_: true
    lr: 1e-4
    weight_decay: 1e-2
    betas: [0.9, 0.999]
    eps: 1e-8

transforms:
  _target_: abstract_dataloader.abstract.Pipeline
  sample:
    _target_: abstract_dataloader.ext.graph.Transform
    keep_all: false
    outputs: {}  # sensors/*.yaml
  collate:
    _target_: abstract_dataloader.torch.Collate
    mode: "concat"
