occ2d:
  _target_: nrdk.models.TransformerTensorDecoder
  decoder_layer:
    _target_: torch.nn.TransformerDecoderLayer
    d_model: ${size.d_model}
    nhead: ${size.nhead}
    dim_feedforward: ${size.d_feedforward}
    dropout: 0.1
    activation: gelu
    layer_norm_eps: 1e-5
    batch_first: true
    norm_first: true
    bias: true
  d_model: ${size.d_model}
  num_layers: ${size.dec_layers}
  shape: [1, 1, 1024, 256]
  scale: [1.0, 1.0, 1.0, 1.0]
  w_min: 0.2
  patch: [1, 1, 16, 16]
  out_dim: 0
