# Subset of augmentations
dataset:
  augmentations:
    azimuth_flip:
      name: Bernoulli
      args: {"p": 0.5}
    doppler_flip:
      name: Bernoulli
      args: {"p": 0.5}
    radar_scale:
      name: TruncatedLogNormal
      args: {"std": 1.0, "clip": 0.0}
    radar_phase:
      name: Uniform
      args: {"lower": -3.14159265, "upper": 3.14159265}
