objective: RadarHD
model: RadarTransformer
model_args:
  dim: 512
  heads: 8
  enc_layers: 6
  dec_layers: [6, 4, 2]
  ff_ratio: 4.0
  dropout: 0.1
  activation: GELU
  out_shape: [1024, 256]
  patch_size: [16, 16]
  unpatch_size: [16, 16]
optimizer: AdamW
optimizer_args: {}
warmup: 100
default_lr: 0.0001
bce_weight: 0.9
range_weighted: True
dataset:
  <<: !include _traces2.yaml
  batch_size: 32
  transform:
    lidar: !include _lidar-map.yaml
    radar: !include _radar-fft-full.yaml
