objectives:
- name: BEVOccupancy
  args:
    weight: 1.0
    bce_weight: 0.9
    range_weighted: True

encoder:
  name: RadarTransformerEncoder
  args:
    enc_layers: 6
    dec_layers: [6, 4, 2]
    dim: 512
    ff_ratio: 4.0
    heads: 8
    dropout: 0.1
    activation: GELU
    patch: [16, 16]

decoders:
  - name: RadarTransformerDecoder2D
    args:
      key: bev
      dec_layers: 3
      dim: 512
      ff_ratio: 4.0
      heads: 8
      dropout: 0.1
      activation: GELU
      shape: [1024, 256]
      patch: [16, 16]

optimizer:
  name: AdamW
  default_lr: 0.0001
  warmup: 100
  subsets: {}

dataset:

  <<: !include _traces2.yaml
  batch_size: 32

  channels:
    meta:
      name: "MetaChannel"
      indices: lidar
      args:
        transform:
        - name: RadarResolution
          args: {}
    bev:
      name: "RawChannel"
      indices: lidar
      args:
        sensor: _lidar
        channel: rng
        transform:
        - name: Destagger
          args: {}        
        - name: Map2D
          args: {}
    depth:
      name: "RawChannel"
      indices: lidar
      args:
        sensor: _lidar
        channel: rng
        transform:
        - name: Destagger
          args: {}        
        - name: Depth
          args:
            crop_el: 0.0
            crop_az: 0.25
    radar:
      name: "RawChannel"
      indices: radar
      args:
        sensor: radar
        channel: iq
        transform:
        - name: AssertTx2
          args: {}
        - name: IIQQtoIQ
          args: {}
        - name: FFTArray
          args:
            pad: 0
            axes: [0, 1, 2, 3]
        - name: ComplexPhase
          args: {}
    vel:
      name: "NPChannel"
      indices: lidar
      args:
        path: "_lidar/pose.npz"
        keys: ["vel", "rot"]
        transform:
        - name: RelativeVelocity
          args: {}

  augmentations:
    azimuth_flip:
      name: Bernoulli
      args: {"p": 0.5}
    doppler_flip:
      name: Bernoulli
      args: {"p": 0.5}
    radar_scale:
      name: TruncatedLogNormal
      args: {"std": 1.0, "clip": 0.0}
    radar_phase:
      name: Uniform
      args: {"lower": -3.14159265, "upper": 3.14159265}
    range_scale:
      name: Uniform
      args: {"lower": 1.0, "upper": 2.0}
    speed_scale:
      name: TruncatedLogNormal
      args: {"std": 0.2, "clip": 2.0}
